.dataCard {
  position: relative;
  top: 1rem;
  height: 100%;
  width: calc(100% - 0.1rem);
  padding: 1rem 0.5rem;

  p {
    padding: 0.5rem 1rem;
    margin: 0;
  }
}

.header {
  display: flex;
  justify-content: center;

  button, p {
    padding: 0.25rem;
  }
}