.bottomRow {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: 1fr;

  @media screen and (min-width: 900px) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.dataCard {
  position: relative;
  top: 1rem;
  height: 100%;
  width: calc(100% - 0.1rem);

  p {
    padding: 0.5rem 1rem;
    margin: 0;
  }
}